body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
}

.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

header{
    background:#111827;
    padding:20px 0;
}

header h1{
    display:inline;
    color:#38bdf8;
}

nav{
    float:right;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h2{
    font-size:42px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:15px 30px;
    background:#38bdf8;
    color:#000;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:40px 0;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
}

footer{
    text-align:center;
    padding:30px;
    background:#111827;
    margin-top:50px;
}
